body  {
	background-color: dimgray;
	margin: 0px;
}

header {
    	top:0px;
    	background-color:rgb(70,70,70);
    	width:100%;
    	height:100px;
    	display: inline-flex;
    	flex-wrap: wrap;
    	align-items: center;
    	align-content: center;
    	border: 4px rgba(134,109,233,.3);
    	margin-right: 0px;
  }
h1#header {
	margin:left;
	font-size: 65px;
	color:white;
	text-shadow: 4px 4px 4px black;
	text-align: center;
	padding: 30px;
	float: left;
	font-family: 'Righteous', cursive;
}



nav {
	float: right;

}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
 }

nav li {

   	display: inline-block;
   	margin-left: 215px;
}


nav a {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	color: azure;
	text-decoration: none;
	font-size: 17px;
}

nav a:hover {
    color: dimgray;

}


img {
	float: left;
	margin: 0px;
	height: 500px;
	width: 840px;
	padding: 0px;

}

div#aboutimgdiv {

	padding-top: 0px;
	padding-right: 20px;
	background-color: black;
	background-size: 2000px 1250px;
	background-position: top;
	border-top: 6px solid azure;
	border-bottom: 6px solid azure;
	padding-bottom: 290px;
	float: center;
	margin: 100px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}

p#aboutp {
	text-align: left;
	padding-top: 150px;
	padding-right: 200px;
	font-family: 'Oswald', sans-serif;
	text-shadow: 2px 2px 4px black;
	text-shadow: 4px 4px 4px white;
	text-transform: uppercase;
    font-size: 22px;
    color: white;

}


iframe {
	width: 500px;
	height: 130px;
	margin: 200px;
	margin-top: -167px;
	margin-left: 710px;
	float: all;
	border: 5px solid gray;
	box-shadow: 4px 4px 4px black;
}

img#imgyoutube {  
	width: 330px;
	height: 300px;
	margin: 30px;
	margin-left: 800px;
	margin-bottom: 200px;
	margin-top: 100px;
}

h1#h1home {
	font-family: 'Viga', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: white;
	text-shadow: 3px 2.5px 2px black;
	font-size: 70px;
	margin-left: 10px;

}

img#headerimg {
    width: 147px;
    height: 93px;
    margin-top: 5px;
}

img#badboymini {
	float: left;
	margin: 30px;
	margin-top: 11px;
	border: 9px solid rgb(70,70,70);
	width: 45%;
	height: 45%;
}

img#lalalamini {
	float: right;
	margin: 30px;
	margin-top: 11px;
	border: 9px solid rgb(70,70,70);
	width: 45%;
	height: 45%;
}

p#pminibad {
	float: left;
	margin-left: 56px;
	margin-top: 7px;
	font-family: 'Viga', sans-serif;
	color: white;
	text-shadow: 3px 2.5px 2px black;
	font-size: 30px;

}

p#pminilala {
		float: right;
	margin-right:210px;
	margin-top: 7px;
	font-family: 'Viga', sans-serif;
	color: white;
	text-shadow: 3px 2.5px 2px black;
	font-size: 30px;

}

